<% @images.each do |img| %>
  <a href="<%= img["content"] %>" title="<%= img["description"] %>"><img src="<%= img["thumbnail"] %>" alt="<%= img["description"] %>" title="<%= img["description"] %>" /></a>
<% end %>